<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Sample</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- CSS import -->
    <link rel="stylesheet" href="../css/reset.css">
</head>

<body>
    <pre>

      v-for 지시자를 사용하여 자신이 좋아하는 가수들을 출력하는 테이블을 작성하여 본다.
    </pre>
    <hr>

    <div id="app" class="col-md-10 offset-md-1">
        <table id="list" class="table-bordered">
            <thead>
                <tr class="bg-warning text-white text-center">
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts">
                <tr v-for="(contact , i ) in contacts" v-bind:key="i">
                    <td>{{i+1}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
        <p>name :
            <input v-model:value="name">
        </p>
        <p>tel :
            <input v-model:value="tel">
        </p>
        </p>address :
        <input v-model:value="address">
        </p>
        <button v-on:click="btn">make</button>
        <div v-if="awesome">
            저장되었습니다.
        </div>
        <div v-else>
            값을 입력해주세요.
        </div>
    </div>

</body>

</html>

<!-- vue 스크립트 플러그인 임포트   -->
<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"> /* vue 플러그인 임포트 */</script>
<script>
    //import axios from "axios";

    new Vue({
        /* edtmc^2w */
        el: "#app",
        data: {
            contacts: [{
                name: "아이유", tel: "010-1111-1112", address: "서울시",
            },
            { name: "혜리", tel: "010-1111-2323", address: "인천시" }
            ],
            name: null,
            tel: null,
            address: null,
            awesome: null

        },
        //template: ``,
        methods: {
            btn: function (event) {
                if ((this.$data.name != null) && (this.$data.tel != null) && (this.$data.address != null)) {
                    var aa = { name: this.$data.name, tel: this.$data.tel, address: this.$data.address };
                    this.$data.contacts.push(aa)
                    // Vue.set(this.$data.contacts, this.$data.contacts.length, aa);
                    this.$data.name = null;
                    this.$data.tel = null;
                    this.$data.address = null;
                    this.$data.awesome = true
                } else {
                    this.$data.awesome = false
                }

            }
        },
        components: {},
        computed: {

        },
        watch: {

        },
        mounted: function () {
            console.log("mounted");
        },
        updated: function () {
            console.log("updated");
        },
    });

</script>